/*.Current-image {
    width: 400px;
    height: 200px;
    background-size: cover;*/

.LikeDislike {
    display: flex;
}

h5 {
    overflow-wrap: break-word;
    width: 80%;
}

.Current-description {
    width: 80%;
}

.LikeDislike {
    margin-bottom: 20px;
}

.Comment {
    background-color: whitesmoke;
    margin-top: 15px;
    padding: 10px;
    font-size: 1.5rem;
}